@use '../../variables' as *;

.bg-h{
    background: $color-secondary;
    color: $white;
};

.l-p{
    font-size: 1.5em;
};

.l-s{
    font-size: 0.8rem;
};

.border-c-p{
    border-bottom: 3px solid $color-primary; 
}

