@use "../../../variables" as *;

:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    padding: 1rem;
}

.auth-card {
    max-width: rem(500);
}