@use "../../../variables" as *;
:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
            url('https://images.pexels.com/photos/37885473/pexels-photo-37885473.jpeg');
    background-size: cover;
    background-position: center;

}

.auth-card{
    max-width: rem(1000);
}