@use "sass:math";

@function rem($px){
    @return math.div($px,16)*1rem;
}

$color-primary: #FF3B30;
$color-secondary: #0F172A;
$bg-light: #EFEFEF;
$text-dark: #2C3E50;
$border-color:#D1D5DB;
$white: #ffffff;
