@use "./variables" as *;

$primary: $color-primary;
$secondary: $color-secondary;
$light: $bg-light;
$dark: $text-dark;
$white: $white; 

@import "bootstrap/scss/bootstrap";

body {
    font-family: -apple-system, "Segoe UI", "Helvetica Neue", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url('https://images.pexels.com/photos/37885473/pexels-photo-37885473.jpeg');
    background-size: cover;
    background-position: center;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.auth-card {
    background-color: $white;
    padding: rem(35) rem(30);
    width: 90%;
    border-radius: rem(10);
    border: 1px solid $color-primary;
}

input[type="text"], input[type="date"], select, input[type="email"], input[type="number"] {
    width: 99%;
    padding: rem(10);
    border: 0.5px solid $border-color; 
    border-radius: rem(4);
    font-size: 1rem;
}

label {
    display: block;
    margin-bottom: rem(2);
    font-weight: 600;
    color: $color-secondary;
}

.bttn {
    padding: rem(12) rem(35);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: rem(4);
    cursor: pointer;
    text-align: center;
}

.bttn-primary {
    background-color: $color-primary;
    color:$white;
}

.bttn-primary:hover {
    background-color: $color-secondary;
    color: $white;
}

.bttn-secondary {
    background-color: $color-secondary;
    color: $white;
}

.bttn-secondary:hover {
    background-color: $color-primary;
    color:$white;
}

a {
    color: $color-primary;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: $color-secondary;
}